
header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;
  z-index: 1;

}

span {
  display: flex;
  align-items: center;
}


.logo {
  display: flex;
  flex-grow: 1;
  align-items; center;
  padding-left: 30px;
  color: MediumAquaMarine;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;

}

a {
  color: black;
}

header nav {
  padding-right: 40px;

}

nav span {
  display: inline-block;
  padding 20px 10px;
}

div {
  border: 1px solid black;
}

body {
  margin: 0;
}


.column {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.column.large {
  width: 630px;

}

.column.medium {
  width: 300px;


}

.column.small {
  width: 240px

}

.main-content {
  display: flex;
  width: 1200;
  padding-top: 100px;
  margin: 0 auto 78px auto;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}


.image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 280px;
  text-align: center;
  margin-top: 30px
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;

}

.main-story .image-container {
  background-image: url(
    https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 629px;
  margin: 0;
  font-size: 40px;
  text-align: left;
}
